<body>
  <p class="notice"><%= notice %></p>
  <div class=show-text>Title: <%=@book.title %></div>
  <div class=show-text>Body: <%=@book.body %></div>
  <span><%= link_to "Edit", edit_book_path(@book.id) %></span> |
  <span><%= link_to "Back", books_path %></span>
</body>